/* 
## Configuracion para WayBar
## Autor:
## Hector Ivan Vega Zamudio
## mxhectorvega@gmail.com
## https://github.com/mxhectorvega
## Version:
## v2.0: 20/11/2021
*/

* {
    border: none;
    border-radius: 3;
    font-family: terminus;
    font-size: 12px;
    min-height: 5px;
    min-width: 5px;
}

window#waybar {
    background: none;
}

window#waybar.hidden {
    opacity: 0.0;
}

window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}

#workspaces button {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 6 0 6px;
    margin-right: 3;
}

#workspaces button.hover {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 6 0 6px;
}

#workspaces button.focused {
    background-color: #5999bd;
    padding: 0 6 0 6px;
}

#workspaces button.urgent {
    background-color: #5999bd;
    padding: 0 6 0 6px;
}

#mode {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 3 0 3px;
}

#tray,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#mode,
#idle_inhibitor,
#custom-menu,
#bluetooth,
#custom-grabar,
#custom-portapapeles,
#custom-pacman,
#custom-layout,
#mpd {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 5 0 5px;
    color: #ffffff;
    margin-right: 3;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #5999bd;;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-power {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 5 0 5px;
    color: #ffffff;
    margin-right: 0;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: rgba(0, 0, 0, 0.7);
}
