/* 
## Configuracion para WofiMenu
## Autor:
## Hector Ivan Vega Zamudio
## mxhectorvega@gmail.com
## https://github.com/mxhectorvega
## Version:
## v1.5: 14/11/2021
*/

window {

    border-radius: 5;
    background-color: rgba(20, 20, 20, 1.9);
}

#input {
    color: #ffffff;
    border-radius: 5;
    background-color: rgba(20, 20, 20, 1.9);
    font-size: 13;
}


#outer-box {
    border-radius: 5;
    margin: 5;
}



#scroll label {
    border-radius: 5;
    margin: 1 1;
}

#entry:selected {
    border-radius: 3;
    color: #ffffff;
    background-color: #6d72ab;
}
