/* 
## Configuracion para WofiMenu
## Autor:
## Hector Ivan Vega Zamudio
## mxhectorvega@gmail.com
## https://github.com/mxhectorvega
## Version:
## v1.5: 14/11/2021
*/

window {

    border-radius: 7;
    background-color: rgba(20, 20, 20, 0.9);
}

#input {
    color: #ffffff;

    border-radius: 7;
    background-color: rgba(20, 20, 20, 0.9);
    font-size: 13px;
}


#outer-box {
    margin: 5px;
}

#scroll {
    margin: 5px 0px;
    font-size: 13px;
    color: #ffffff;
}

#scroll label {
    margin: 1px 1px;
}

#entry:selected {
    color: #ffffff;
    background-color: #6d72ab;
}
