#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Maps
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=bkdgnmboooimfcnoiojeegenplccoeam
Icon=maps
StartupWMClass=crx_bkdgnmboooimfcnoiojeegenplccoeam
