#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=PrimeVideo
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=dhehceoabmcddigfnadgnpockbkdjhof
Icon=/home/vega/.icons/vega/primevideo.svg
StartupWMClass=crx_dhehceoabmcddigfnadgnpockbkdjhof
