#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=moderndeck
Comment=moderndeck
Exec=/usr/lib/brave-bin/brave --password-store=basic --app=https://tweetdeck.twitter.com/
Icon=brave-ddiddklncfgbfaaahngklemobghhjkim-Default
StartupWMClass=moderndeck
